*.kmz*
*.kml*
*credentials/*
*scheduled/*
*logs/*
*radiosonde/*
*zoneplots/*
*DatabaseMerge/*
*backup/*
*temp/*
*data/*
*.png*
*RecentEventData.xls*
~$AllEventData.xlsx
*.asv
*_backup*
matlab.mat
diary
