*.kmz*
*.kml*
*scheduled/*
*logs/*
*radiosonde/*
*zoneplots/*
*backup/*
*mseed/*
*.png*
*RecentEventData.xls*
~$AllEventData.xlsx
*.asv
*_backup*
loadprivate.m
encrypt.m
password.m
traj_summary_all.txt
traj_summary_monthly_202207.txt
traj_summary_yesterday.txt
GMN_importtest.mat
GMN_datatest.mat
diary
