*.kmz*
*.kml*
*private/*
*secret/*
*credentials/*
*scheduled/*
*logs/*
*radiosonde/*
*zoneplots/*
*DatabaseMerge/*
*backup/*
*mseed/*
*.png*
*RecentEventData.xls*
~$AllEventData.xlsx
*.asv
*_backup*
traj_summary_all.txt
traj_summary_monthly_202207.txt
traj_summary_yesterday.txt
GMN_importtest.mat
GMN_datatest.mat
diary
traj_summary_monthly_202302.txt
traj_summary_monthly_202302.txt
traj_summary_monthly_202302.txt
database_errorlog.txt
database_errorlog.txt
database_errorlog.txt
database_errorlog.txt
database_errorlog.txt
